body {
    background-color: #FCF8F2
  
  ;
    margin: 0px;
    padding: 0px;
  }
  
  .main {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  a {
    text-decoration: underline;
    color: inherit;
  }
  
  div.card {
    position: absolute;
    max-width: 560px;
    width: 85%;
    text-align: center;
    padding: 0 16px;
    font-family: "neue-haas-unica", "Inter", sans-serif;
  }
  
  div.footer {
    font-family: "neue-haas-unica", "Inter", sans-serif;
    color: #4F513A;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 24px;
    max-width: 85%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
  }
  
  img {
    width: 100%;
    max-width: 300px;
    margin: 32px auto 24px;
    display: block;
  }
  
  h1 {
    font-family: "ivypresto-headline", "Times New Roman", serif;
    text-align: center;
    color: #4F513A;
    margin-bottom: 32px;
    margin-top: 24px;
    font-size: 56px;
    line-height: 64px;
    font-weight: 300;
    display: block;
  }
  
  p {
    text-align: center;
    color: #4F513A;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  form input {
    font-family: "neue-haas-unica", "Inter", sans-serif;
    padding: 12px;
    display: block;
    font-size: 16px;
    border-radius: 8px;
    background: #06140d;
    color: #fff;
    width: 100%;
    -webkit-transition: padding 80ms ease-in-out;
    transition: padding 80ms ease-in-out;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-shadow: none;
    max-width: 280px;
    margin-right: 12px;
  }
  
  form button {
    font-family: "neue-haas-unica", "Inter", sans-serif;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    background: #fff;
    color: #06140d;
    -webkit-transition: padding 80ms ease-in-out;
    transition: padding 80ms ease-in-out;
    border: none;
    text-shadow: none;
    cursor: pointer;
  }
  
  p.legal {
    font-family: "neue-haas-unica", "Inter", sans-serif;
    color: #d5f1c8;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 400px;
    margin: 16px auto 0 auto;
  }
  
  @media screen and (max-width: 380px) {
    p {
      line-height: 24px;
      font-size: 16px;
    }
    form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    form input {
      width: 100%;
      max-width: none;
      margin-bottom: 16px;
    }
  }
  
  h3 {
    color: #d5f1c8;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }